.week-statistic {
    width: 45%;
    @media (max-width: 768px) {
        width: 100%;
    }

    // .week-statistic__header
    &__header {
    }

    // .week-statistic__graph
    &__graph {
    }

    // .week-statistic__inline
    &__inline {
    }
}
.ws-header {
    position: relative;
    padding: 10px;

    // .ws-header__completed
    &__completed {
        text-transform: capitalize;
        margin: 0px 0px 5px 0px;
    }

    // .ws-header__number
    &__number {
        font-size: 24px;
    }

    // .ws-header__graph
    &__graph {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        svg {
            transform: rotate(-90deg);
        }
        &::after {
            content: "";
            position: absolute;
            top: 30%;
            right: 30%;
            width: 40%;
            height: 40%;
            background-repeat: no-repeat;
            background-image: url(../../assets/pic/list.svg);
        }
    }
}
.ws-graph {
    padding: 10px;

    // .ws-graph__graph
    &__graph {
    }

    // .ws-graph__colnames
    &__colnames {
        display: flex;
        justify-content: space-between;
    }

    // .ws-graph__colname
    &__colname {
        color: #ccc;
    }
}
.ws-inline {
    padding: 10px;

    // .ws-inline__graph
    &__graph {
    }

    // .ws-inline__item
    &__item {
    }
}
