.week-statistic {
    width: 45%;
    @media (max-width: 768px) {
        width: 100%;
    }

    // .week-statistic__header
    &__header {
    }

    // .week-statistic__graph
    &__graph {
    }

    // .week-statistic__inline
    &__inline {
    }
    @media (max-width: 500px) {
        &:last-child {
            margin: 0px 0px 75px 0px;
        }
    }
}
.ws-header {
    position: relative;
    padding: 10px;

    // .ws-header__completed
    &__completed {
        text-transform: capitalize;
        margin: 0px 0px 5px 0px;
    }

    // .ws-header__number
    &__number {
        font-size: 24px;
    }
}
