.category {
    width: 120px;
    height: 100px;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 0px 10px 0px 0px;
    transition: transform 0.3s ease;
    cursor: pointer;

    &:hover {
        box-shadow: inset 0 0 5px #ccc;
    }

    &.active {
        transform: scale(1.1);
    }
    // .categories-todo__icon
    &__icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 0px 0px 10px 0px;
        &.varia {
            background-color: #e5768c;
        }
        &.work {
            background-color: #71dc79;
        }
    }

    // .categories-todo__tasks
    &__tasks {
        font-size: 14px;
    }

    // .categories-todo__name
    &__name {
        font-size: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
