.todo {
    width: 45%;
    // .todo__categories
    &__categories {
        margin: 0px 0px 20px 0px;
        display: flex;
    }

    // .todo__filter
    &__filter {
        display: flex;
        margin: 0px 0px 10px 0px;
    }

    // .todo__input
    &__input {
        border-top: 2px solid #ccc;
        display: flex;
        margin: 0px 0px 10px 0px;
        input {
            flex: 1 1 auto;
            background-color: transparent;
            border: none;
            font-size: 24px;
            padding: 5px;
            outline: none;
        }
        button {
            flex: 0 0 38px;
            cursor: pointer;
            background-color: transparent;
            border: none;
            font-size: 24px;
            transition: transform 0.3s ease;
            outline: none;
            &:hover {
                transform: scale(1.2);
            }
        }
    }

    // .todo__list
    &__list {
    }
}
